bin/*
dist/*
skalch-plugin/bin/*
skalch-plugin/target/*
skalch-plugin/bin.timestamp
skalch-base/bin/*
skalch-base/target/*
skalch-base/bin.timestamp
bin.timestamp
*.pyc
*.hints.xml
# compile and symlink it yourself...
lib/scala-library.jar
lib/sketchrewriter.jar
buildutil/*.build-args
buildutil/sketchrewriter.jar
buildutil/build_info.pickle
skalch-base/.classpath
skalch-base/.settings/*
.scala_dependencies
*.manager*
*.log
*.diff
*.out
