bin/*
dist/*
*/target/*
gen/
*.vcg
*tmpgrgen*
*.timestamp
*.pyc
*.hints.xml
*.ast.gxl
# compile and symlink it yourself...
lib/scala-library.jar
lib/sketchrewriter.jar
.scala_dependencies
buildutil/*.build-args
buildutil/sketchrewriter.jar
buildutil/build_info.pickle
*.dll
plugin/src/main/grgen/AllRules.grg
.gen
