<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<stringAttribute key="bad_container_name" value="/skalch-base/.settings/r"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/skalch-base/src/main/java/sketch/compiler/parser/gxlimport/GxlImport.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="sketch.compiler.parser.gxlimport.GxlImport"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="src/test/scala/angelic/simple/SugaredTest.intermediate.ast.gxl"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="skalch-base"/>
</launchConfiguration>
